bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

/shelf/
/workspace.xml

/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea
.idea
/httpRequests/

/dataSources/
/dataSources.local.xml
.vs/
*.json
*.cache
*.props